apiVersion: apps/v1
kind: Deployment
metadata:
  name: onlinebookstore
  labels:
    app: onlinebookstore
spec:
  replicas: 2
  selector:
    matchLabels:
      app: onlinebookstore
  template:
    metadata:
      labels:
        app: onlinebookstore
    spec:
      containers:
        - name: onlinebookstore-container
          image: ${IMAGE_REPO}/${NAME}:${VERSION}   # <- placeholder to be replaced
          imagePullPolicy: Always
          ports:
            - containerPort: 80
